/* body {
  background: #f2f2f2;

  color: #444444;
  margin: 0px 0px 0px 0px;
  font-family: "Iosevka Term SS03", monospace;
  width: 100%;

  font-size: 16px;
  line-height: 1.8;
  text-shadow: 0 1px 0 #ffffff;
}

code {
  background: white;
}

a {
  border-bottom: 1px solid #444444;
  color: #444444;
  text-decoration: none;
}
a:hover {
  border-bottom: 0;
}

.nottop {
  margin-top: 16px;
}

table.lined {
  border-collapse: collapse;
}

table.lined tr td, table.lined tr th {
  border-right: 2px solid black;
  color: black;
  padding-left: 4px;
  padding-right: 4px;
}

table.lined tr td:last-of-type, table.lined tr th:last-of-type {
  border: none;
}


#head {
  width: 100%;
  height: 30px;
  color: white;
  background-color: black;
  margin: 0px 0px 0px 0px;
  padding: 15px 30px 15px 30px;
  font-size: 24px;
}

#content {
  margin: 16px 16px 16px 16px;
  width: 100%;
} */